openapi: 3.0.0
servers:
  - description: BQXT Public
    url: "https://api.bqtx.com"
info:
  description: BQTX Public Endpoints
  version: 1.0.0
  title: BQTX PublicEndpoints
  contact:
    email: patrick@bqtx.com
  license:
    name: Apache 2.0
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
tags:
  - name: public
paths:
  /public/pairs:
    get:
      tags:
        - public
      summary: pairs
      description: retrieve list of pairs
      operationId: pairs
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: pairs list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: array
                    items:
                      type: string
                      example:
                        - BTC/USDT
                        - ETH/BTC
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/pairs/{symbol}:
    get:
      tags:
        - public
      summary: pair
      description: retrieve pair info
      operationId: pair
      parameters:
        - $ref: "#/components/parameters/contentType"
        - in: path
          name: symbol
          description: pair symbol
          required: true
          schema:
            type: string
            example: BTC/USDT
      responses:
        "200":
          description: pair info
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      base:
                        type: string
                        example: BTC
                      quote:
                        type: string
                        example: USDT
                      isActive:
                        type: boolean
                        example: true
                      isMarginActive:
                        type: boolean
                      lostSize:
                        type: number
                      minOrderAmount:
                        type: number
                        example: 0.1
                      amountPrecisone:
                        type: number
                        example: 4
                      pricePrecisone:
                        type: number
                        example: 8
                      totalPrecisone:
                        type: number
                        example: 8
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/assets:
    get:
      tags:
        - public
      summary: assets
      description: retrieve summary for each asset
      operationId: assets
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: assets summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  BTC(ccy):
                    type: object
                    properties:
                      name:
                        type: string
                        example: Bitcoin
                      unified_cryptoasset_id:
                        type: integer
                        example: 1
                      can_withdraw:
                        type: boolean
                        example: true
                      can_deposit:
                        type: boolean
                        example: true
                      min_withdraw:
                        type: number
                        example: 0.1
                      max_withdraw:
                        type: number
                        example: 2
                      maker_fee:
                        type: number
                        example: 0.1
                      taker_fee:
                        type: number
                        example: 0.1
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/fees:
    get:
      tags:
        - public
      summary: fees
      description: return object with fees structure
      operationId: fees
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: fees structure
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      maker:
                        type: number
                        example: 0.1
                      taker:
                        type: number
                        example: 0.1
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/volumes:
    get:
      tags:
        - public
      summary: volumes
      description: return list of daily volumes by pairs
      operationId: fees
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: month daily volumes
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      pairs(BTC/USDT):
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              format: date
                            volume:
                              type: number
                              example: 3.4
                      pairs(ETH/BTC):
                        type: array
                        items:
                          type: object
                          properties:
                            timestamp:
                              type: string
                              format: date
                            volume:
                              type: number
                              example: 2.2
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/summary:
    get:
      tags:
        - public
      summary: currencies
      description: system status summary based on currencies
      operationId: summary
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: currencies summary
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      system_time:
                        type: number
                      currencies:
                        type: object
                        properties:
                          BTC(currency):
                            type: object
                            properties:
                              symbol:
                                type: string
                                example: BTC
                              isActive:
                                type: boolean
                                example: true
                              isCrypto:
                                type: boolean
                                example: true
                              depositActive:
                                type: boolean
                                example: true
                              pendingDeposits:
                                type: integer
                                example: 0
                              withdrawActive:
                                type: boolean
                                example: true
                              pendingWithdrawals:
                                type: integer
                                example: 3
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/tickers:
    get:
      tags:
        - public
      summary: tickers (summary)
      description: pairs based tickers summary
      operationId: tickers
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: pairs tickers
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      BTC/USDT(pair):
                        type: object
                        properties:
                          last:
                            type: number
                            example: 10016.10932446
                          lowerAsk:
                            type: number
                            example: 9117.04816474
                          highestBid:
                            type: number
                            example: 11914.19355143
                          baseVolume:
                            type: number
                            example: 0.0095
                          quoteVolume:
                            type: number
                            example: 0.0079
                          high24hr:
                            type: number
                            example: 10122.89914221
                          low24hr:
                            type: number
                            example: 9808.61579248
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/ticker:
    get:
      tags:
        - public
      summary: ticker
      description: pairs info based on coinmarkecap specification
      operationId: ticker
      parameters:
        - $ref: "#/components/parameters/contentType"
      responses:
        "200":
          description: pairs tickers
          content:
            application/json:
              schema:
                type: object
                properties:
                  BTC/USDT(pair):
                    type: object
                    properties:
                      last_price:
                        type: number
                        example: 10016.10932446
                      base_volume:
                        type: number
                        example: 0.0095
                      quote_volume:
                        type: number
                        example: 0.0079
                      isFrozen:
                        type: integer
                        example: 1
        "400":
          $ref: "#/components/responses/BadRequest"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/trades/{market_pair}:
    get:
      tags:
        - public
      summary: trades
      description: return list of current trades
      operationId: trades
      parameters:
        - $ref: "#/components/parameters/contentType"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/side"
        - $ref: "#/components/parameters/marketPair"
      responses:
        "200":
          description: trades list
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    tradeID:
                      type: string
                      format: ObjectID
                    price:
                      type: number
                      example: 10962.32
                    timestamp:
                      type: integer
                      format: unix
                    type:
                      type: string
                      example: buy
                    base_volume:
                      type: number
                      example: 4532
                    quote_volume:
                      type: number
                      example: 0.43
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/orders/{market_pair}:
    get:
      tags:
        - public
      summary: orders
      description: return list of live orders
      operationId: orders
      parameters:
        - $ref: "#/components/parameters/contentType"
        - $ref: "#/components/parameters/limit"
        - $ref: "#/components/parameters/marketPair"
      responses:
        "200":
          description: live orders list
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  result:
                    type: object
                    properties:
                      orderId:
                        type: string
                      side:
                        type: string
                      type:
                        type: string
                      subType:
                        type: string
                      price:
                        type: number
                        example: 8380.32
                      averagePrice:
                        type: number
                        example: 8295.40
                      quantity:
                        type: number
                        example: 0.28
                      cumQuantity:
                        type: number
                        example: 0.30
                      frozenQuantity:
                        type: number
                        example: 0
                      frozenCurrency:
                        type: string
                      symbol:
                        type: string
                      status:
                        type: string
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /public/orderbook/{market_pair}:
    get:
      tags:
        - public
      summary: orderbook
      description: return live orderbook data
      operationId: orderbook
      parameters:
        - $ref: "#/components/parameters/contentType"
        - $ref: "#/components/parameters/depth"
        - $ref: "#/components/parameters/level"
        - $ref: "#/components/parameters/marketPair"
      responses:
        "200":
          description: trades list
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                    format: unix
                  bids:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                        example:
                          - 10324.24
                          - 0.12
                  asks:
                    type: array
                    items:
                      type: array
                      items:
                        type: number
                        example:
                          - 9354.12
                          - 0.014
        "400":
          $ref: "#/components/responses/BadRequest"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  responses:
    BadRequest:
      description: Bad request error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
                example: false
              code:
                type: integer
                example: 400
              type:
                type: string
                example: Bad request
    NotFound:
      description: Not found error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
                example: false
              code:
                type: integer
                example: 404
              type:
                type: string
                example: Not found
    InternalServerError:
      description: Generic internal server error
      content:
        application/json:
          schema:
            type: object
            properties:
              status:
                type: boolean
                example: false
              code:
                type: integer
                example: 500
              type:
                type: string
                example: Internal server error

  parameters:
    contentType:
      name: Content-Type
      in: header
      required: true
      schema:
        type: string
        example: application/json
    marketPair:
      name: market_pair
      in: path
      required: true
      schema:
        type: string
        example: BTC_USDT
    limit:
      name: limit
      in: query
      required: false
      schema:
        type: integer
        example: 5
    depth:
      name: depth
      in: query
      required: false
      schema:
        type: integer
        example: 10
    level:
      name: level
      in: query
      required: false
      schema:
        type: integer
        enum:
          - 1
          - 2
          - 3
      example: 3
    side:
      name: side
      in: query
      required: false
      schema:
        type: string
        enum:
          - buy
          - sell
        example: buy
